---
import ButtonSubmit from '../components/ButtonSubmit.svelte';
import TextArea from '../components/TextArea.svelte';
import Layout from '../layouts/Layout.astro';

---

<Layout title="Welcome to Astro.">
	<main class="container max-w-lg m-auto">
		<header class="py-4">
			<h1 class="text-3xl font-bold">Fix my english! </h1>
		</header>

		<div>
			<TextArea client:visible/>
			<ButtonSubmit client:only/>
		</div>
	</main>
</Layout>

